<div class="jumbotron">
<div class="row row-gap-top-20">
	<div class="col-md-11 col-lg-11">
<div class="form-horizontal">
    <fieldset>

        <!-- Other part -->
        <div class="form-group jumbotron">
            <!-- Fb ID -->
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label text-align-left">Facebook ID</label>
                <div class="col-lg-10">
                    <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="_question.fbID">
                </div>
            </div>
            <!-- Drawing -->
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label text-align-left">Drawing</label>
                <div class="col-lg-10">
                    <img ng-src="{{_question.photoPath}}" class="img-thumbnail" alt="Drawing" width="200">
                </div>
            </div>
            <!-- Given shape -->
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label text-align-left">Given Word</label>
                <div class="col-lg-10">
                    <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="_question.shape">
                </div>
            </div>
            <!-- Alternative Answer -->
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label text-align-left">Alternative Option</label>
                <div class="col-lg-10">
                    <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="_question.alternativeOption">
                </div>
            </div>
            <!-- Impression -->
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label text-align-left">Impression</label>
                <div class="col-lg-10">
                    <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="_question.impression">
                </div>
            </div>
            <!-- Score -->
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label text-align-left">Score</label>
                <div class="col-lg-10">
                    <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="_question.score">
                </div>
            </div>
            <!-- Submit -->
            <div class="form-group row-gap-top-40">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="pull-right btn btn-primary" ng-click="approve()">Approve</button>
                    <a  href=""
                        class="pull-right btn btn-danger btn-raised" 
                        ng-click="
                            setPopupContent('Remove User','Are you sure to remove this question?','Save');
                            setRemoteActionParameters();
                            setRemoteActionParameters('DELETE','/manage/approved/', _question._id, 'approved');"
                        data-toggle="modal"
                        data-target="#modal-basic"
                        >
                        Remove
                    </a>
                </div>
            </div>
        </div>
    </fieldset>
</div>
	</div>
</div>
</div>
<script type="text/javascript" src="assets/js/initializer.js"></script>