
<div class="jumbotron">
<!-- Button -->
<div class="row">
<!-- Search Box -->
<div class="row row-gap-40">
	<div class="form-group col-lg-2 col-md-2">
       <label class="control-label">Search</label>
       <div class="form-control-wrapper">
       	<input class="form-control input-sm" type="text" ng-model="searchText" placeholder="Write facebook id here.">
       </div>
    </div>
</div>
<!-- Table -->
<div class="row">
	<div class="col-md-12 col-lg-12">
		<table class="table table-striped table-hover ">
		    <thead>
		        <tr>
		        	<th width="20%">Photo</th>
		            <th width="20%">Facebook ID</th>
		            <th width="15%" class="smallScreenClose">Name Surname</th>
		            <th width="10%" class="smallScreenClose">Impression</th>
		            <th width="10%" class="smallScreenClose">Score</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="_user in ranking | filter:searchText">
		        	<td>
		        		<img ng-src="{{_user.fbPhoto}}"
		        		class="img-thumbnail"
		        		alt="Facebook Photo" width="80">
		        	</td>
		            <td>{{_user.fbID}}</td>
		            <td>{{_user.name}}</td>
		            <td>{{_user.impression}}</td>
		            <td>{{_user.score}}</td>
		            
		        </tr>
		    </tbody>
		</table>
	</div>
</div>
</div>

<script type="text/javascript" src="assets/js/initializer.js"></script>