<div class="jumbotron">
<div class="row row-gap-top-20">

	<div class="col-md-11 col-lg-11">
        <!-- Search Box -->
<div class="row row-gap-40">
    <div class="form-group col-lg-2 col-md-2">
       <label class="control-label">Search</label>
       <div class="form-control-wrapper">
        <input class="form-control input-sm" type="text" ng-model="searchText" placeholder="Write facebook id here.">
       </div>
    </div>
</div>
<div class="form-horizontal">
    <fieldset>

        <!-- User -->
        <div class="form-group jumbotron">
            <!-- Picture -->
            <div class="col-lg-3">
                <img ng-src="{{_question.fbPhoto}}" class="img-thumbnail" alt="Facebook Photo" width="100"> 
            </div>
            <!-- Other info -->
            <div class="col-lg-4">
                <!-- Name -->
                <label for="inputEmail" class="col-lg-3 control-label text-align-left">Name</label>
                <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="_question.name">
            </div>
            <div class="col-lg-4">
                <!-- Fb ID -->
                <label for="inputEmail" class="col-lg-5 control-label text-align-left">Facebook ID</label>
                <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="_question.fbID">
            </div>
        </div>

        <!-- Other part -->
        <div class="form-group jumbotron">
            <!-- Drawing -->
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label text-align-left">Drawing</label>
                <div class="col-lg-10">
                    <img ng-src="{{_question.photoPath}}" class="img-thumbnail" alt="Drawing" width="200">
                </div>
            </div>
            <!-- Given shape -->
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label text-align-left">Given Word</label>
                <div class="col-lg-10">
                    <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="_question.shape">
                </div>
            </div>
            <!-- Alternative Answer -->
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label text-align-left">Alternative Option</label>
                <div class="col-lg-10">
                    <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="alternativeOption">
                </div>
            </div>
            <!-- Submit -->
            <div class="form-group row-gap-top-40">
                <div class="col-lg-10 col-lg-offset-2">
                    <button  class="pull-right btn btn-primary" ng-click="approve()">Approve</button>
                    <a  href=""
                        class="pull-right btn btn-danger btn-raised" 
                        ng-click="
                            setPopupContent('Remove User','Are you sure to remove this question?','Save');
                            setRemoteActionParameters();
                            setRemoteActionParameters('DELETE','/manage/unapproved/', _question._id, 'unapproved');"
                        data-toggle="modal"
                        data-target="#modal-basic"
                        >
                        Remove
                    </a>
                </div>
            </div>
        </div>
    </fieldset>
</div>
	</div>
</div>
</div>
<script type="text/javascript" src="assets/js/initializer.js"></script>