
<div class="jumbotron">
<!-- Button -->
<div class="row">
<!-- Search Box -->
<div class="row row-gap-40">
	<div class="form-group col-lg-2 col-md-2">
       <label class="control-label">Search</label>
       <div class="form-control-wrapper">
       	<input class="form-control input-sm" type="text" ng-model="searchText" placeholder="Write facebook id here.">
       </div>
    </div>
</div>
<!-- Table -->
<div class="row">
	<div class="col-md-12 col-lg-12">
		<table class="table table-striped table-hover ">
		    <thead>
		        <tr>
		            <th width="20%">Facebook ID</th>
		            <th width="20%" class="smallScreenClose">Shape</th>
		            <th width="20%" class="smallScreenClose">Status</th>
		            <th width="40%"></th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="_question in questions | filter:searchText" ng-if="_question.status != 'DELETED' ">
		            <td>{{_question.fbID}}</td>
		            <td>{{_question.shape}}</td>
		            <td>{{_question.status}}</td>
		            <td>
	            	 	<a 	href="#unapproved/{{_question._id}}"
	            	 		class="btn btn-sm btn-primary btn-raised pull-right">
	            	 		View Details
	            	 	</a>
		            </td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>
</div>

<script type="text/javascript" src="assets/js/initializer.js"></script>