
<div class="jumbotron">
<!-- Button -->
<div class="row">
  <div class="col-lg-12 col-md-12 ">  
  	<!-- Platform Text -->
  	<h3 class="pull-left">
		<span class=" margim-right-5"></span>
		User List
	</h3>
	<!-- Add push notification -->
    <a href="#user/new" class="btn btn-success pull-right btn-raised">
    	<i class="mdi-image-add-to-photos margim-right-10 "></i>
    	Create New User
    </a>
</div>
<!-- Progress -->
<div class="row row-gap-40 ">
	<div class="progress smallScreenClose">
		<div class="progress-bar" style="width:100%;"></div>
	</div>
  </div>
</div>
<!-- Search Box -->
<div class="row row-gap-40">
	<div class="form-group col-lg-2 col-md-2">
       <label class="control-label">Search</label>
       <div class="form-control-wrapper">
       	<input class="form-control input-sm" type="text" ng-model="searchText" placeholder="Write keyword here.">
       </div>
    </div>
</div>
<!-- Table -->
<div class="row">
	<div class="col-md-12 col-lg-12">
		<table class="table table-striped table-hover ">
		    <thead>
		        <tr>
		            <th>User Name</th>
		            <th class="smallScreenClose">Role</th>
		            <th class="smallScreenClose">E-mail</th>
		            <th class="smallScreenClose">Apps</th>
		            <th></th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="_user in userList | filter:searchText" ng-if="_user.status != 'DELETED' ">
		            <td>{{_user.userName}}</td>
		            <td class="smallScreenClose">{{_user.role}}</td>
		            <td class="smallScreenClose">{{_user.eMail}}</td>
		            <td class="smallScreenClose">
		            	<span ng-repeat="_app in _user.apps">
		            		<span>{{_app.name}}<br></span>
		            	</span>
		            	<span ng-if="_user.role == 'admin' ">All</span>
		            </td>
		            <td>
	            	 	<a href="" class="btn btn-sm btn-danger pull-right btn-raised" data-toggle="modal" data-target="#modal-basic" ng-click="setPopupContent('Remove User','Are you sure to remove this user?','Save'); setRemoteActionParameters(); setRemoteActionParameters('DELETE','/manage/user/', _user._id);">Remove</a>
	            	 	<a href="#user/{{_user._id}}" class="btn btn-sm btn-default btn-raised pull-right">View</a>
		            </td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>
</div>

<script type="text/javascript" src="assets/js/initializer.js"></script>