<div class="jumbotron">
<div class="row row-gap-top-20">
	<div class="col-md-11 col-lg-11">
<div class="form-horizontal">
    <fieldset>
        <legend>User Form</legend>

        <!-- User Name -->
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">User Name</label>
            <div class="col-lg-10">
                <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="newUser.userName">
            </div>
        </div>
        <!-- User Name -->
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">E-mail</label>
            <div class="col-lg-10">
                <input class="form-control floating-label" id="focusedInput" type="email" placeholder="" ng-model="newUser.eMail">
            </div>
        </div>
        <!-- Password initial-->
        <div class="form-group" ng-show="!isNewPassword">
            <label for="inputEmail" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="newUser.password">
            </div>
        </div>
        <!-- Password later -->
        <div class="form-group" ng-show="isNewPassword">
            <label for="inputEmail" class="col-lg-2 control-label">New Password</label>
            <div class="col-lg-10">
                <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="newUser.newPassword">
            </div>
        </div>
        <!-- Status -->
        <div class="form-group" ng-init="newUser.role = 'publisher' ">
            <label class="col-lg-2 control-label">Role</label>
            <div class="col-lg-10">
                <div class="radio radio-primary col-lg-3">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="publisher" ng-model="newUser.role">
                       Publisher
                    </label>
                </div>
                <div class="radio radio-primary col-lg-3">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="admin" ng-model="newUser.role">
                        Admin
                    </label>
                </div>
            </div>
        </div>
        <!-- Company -->
        <div class="form-group" ng-show="newUser.role != 'admin' ">
            <label class="col-lg-2 control-label">Company</label>
            <div class="col-lg-10">
                <input class="form-control floating-label" type="text" ng-model="newUser.company" placeholder="">
            </div>
        </div>
        <!-- App List --> 
        <div class="form-group" ng-show="newUser.role != 'admin' ">
            <label for="select" class="col-lg-2 control-label">Apps</label>
            <div class="col-lg-10">
                <select multiple="" class="form-control" ng-model="newUser.appIdList">
                    <option ng-repeat="_app in appList" value="{{_app._id}}" ng-click="setApp(_app);">{{_app.name}}</option>
                </select>
                <span class="help-block">Hold down "Control", or "Command" on a Mac, to select more than one.</span>
            </div>
        </div>
        <!-- Submit -->
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="pull-right btn btn-primary" ng-click="save()">Save</button>
                <a href="" class="pull-right btn btn-danger btn-raised" ng-click="GoBack()">Cancel</a>
            </div>
        </div>
        
    </fieldset>
</div>
	</div>
</div>
</div>

<script type="text/javascript" src="assets/js/initializer.js"></script>