<div class="jumbotron col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 row-gap-top-40">
<div class="row row-gap-top-20">
	<div class="col-md-12 col-lg-12">
<form class="form-horizontal">
    <fieldset>
        <legend>Login</legend>
        <!-- Name -->
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">User Name</label>
            <div class="col-lg-10">
                <input class="form-control floating-label" id="focusedInput" type="text" placeholder="" ng-model="user.userName">
            </div>
        </div>
        <!-- Pasword -->
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input class="form-control floating-label" id="focusedInput" type="password" placeholder="" ng-model="user.password">
            </div>
        </div>
        <!-- Remember me -->
        <div class="form-group">
            <label class="col-lg-2"></label>
            <div class="col-lg-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="isRememberMe"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <!-- Submit -->
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="pull-left btn btn-primary" ng-click="login()">Login</button>
            </div>
        </div>
        
    </fieldset>
</form>
	</div>
</div>
</div>

<script type="text/javascript" src="assets/js/initializer.js"></script>