<html lang="en" ng-app="PushApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Push service panel">
    <meta name="author" content="Mobilike">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <title>Samsung Drawing Project</title>
<!-- CSS -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/material-wfont.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
<!-- Custom Css-->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
<!-- JS -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="assets/js/lodash.js"></script>
<!-- Angular & Components -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
    <script src="assets/js/angular-resource.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.min.js"></script>
    <!-- Custom JS -->
   <script src="assets/js/additions.js"></script>
   <script src="bower_components/moment/min/moment.min.js"></script>
   <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<!-- Angular App -->
    <script type="text/javascript" src="app/app.js?v=12392823"></script>
    <script type="text/javascript" src="app/controllers/controller.js?v=12392823"></script>
    <script type="text/javascript" src="app/appServices.js?v=12392823"></script>
  </head>
  <body>
    <!-- NavBar Start-->
    <div class="navbar navbar-default" ng-controller="NavBarController">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#Home">Samsung Drawing Project</a>
           <a class="navbar-brand" href=""></a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse" ng-if="isNavbarEnabled == true" >
          <ul class="nav navbar-nav">
            <li ng-class="{'active':location.path().search('/unapproved') != -1}">
              <a href="#unapproved/list">Unapproved Questions</a>
            </li>
            <li ng-class="{'active':location.path().search('/approved') != -1}">
              <a href="#approved/list">Approved Questions</a>
            </li>
            <li ng-class="{'active':location.path().search('/ranking') != -1}">
              <a href="#ranking">Ranking</a>
            </li>
            <li ng-if="isAdmin && !isPublisher" ng-class="{'active':location.path().search('/user') != -1}">
              <a href="#user/list">Users</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" >
              <li class="" ><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
          </ul>
      </div>
    </div>
    <!-- NavBar End-->
          
      <!-- Page content -->
    <div id="page-content-wrapper">
      <!-- Keep all page content within the page-content inset div! -->
      <div class="page-content inset">
        <div class="row">
            <div class="col-md-12 row-gap-top-20">
            <div  ng-view>
             
            </div>
          </div>
        </div>
      </div>
    </div>      
    </div>
    <!-- Modal Basic -->
  <div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">{{popupContent.title}}</h4>
     </div>
     <div class="modal-body">
      <p></p>
      <p></p>
      <p>{{popupContent.body}}</p>
      <!-- Modal Content For Push -->
      <div ng-if="notificationToSend">
        <div class="form-group">
          <label class="col-lg-2 control-label">Content</label><br>
            <div class="col-lg-10">
                <p>{{notificationToSend.data.alert}}</p>
            </div>
        </div>
      </div>
      <!--  -->
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" ng-click="remoteAction(remoteActionParameters);" data-dismiss="modal"> {{popupContent.confirmButtonText}}</button>
     </div>
    </div>
    </div>
  </div>
  <!-- Modal Notification -->
  <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">
        <strong>{{popupContent.title}}</strong>
      </h4>
     </div>
     <div class="modal-body">
      <p></p>
      <p></p>
      <p><h3>{{popupContent.body}}</h3></p>
      <!-- Notification info -->
      <!-- <div class="form-group row-gap-top-40">
          <label for="inputEmail" class="col-lg-2 control-label">Push Name</label>
          <div class="col-lg-10">
              <span>{{notificationToSend.data.alert}}</span>
          </div>
      </div> -->
      <table class="table table-striped row-gap-top-40">
        <tbody>
          <!-- Push Time -->
          <tr>
            <td width="20%">Send Time</td>
            <td width="80%" ng-if="notificationToSend.sendNow == false">{{notificationToSend.sendTime}}</td>
            <td width="80%" ng-if="notificationToSend.sendNow == true">Now</td>
            <!-- <td width="80%">{{notificationToSend.sendTime}}</td> -->
          </tr>
          <!-- Push Platforms -->
          <tr>
            <td width="20%">Apps</td>
            <td width="80%">
              <span ng-repeat="deviceType in notificationToSend.appList">
                {{deviceType.name}}<br>
              </span>
            </td>
            <!-- <td width="80%">{{notificationToSend.sendTime}}</td> -->
          </tr>
          <!-- Push Text -->
          <tr style="background-color:#f9f9f9;">
            <td width="20%">Push Message</td>
            <td width="80%">{{notificationToSend.data.alert}}</td>
          </tr>
        </tbody>
      </table>
      <!--  -->
     </div>
     <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" ng-click="remoteAction(remoteActionParameters);" data-dismiss="modal"> {{popupContent.confirmButtonText}}</button>
     </div>
    </div>
    </div>
  </div>

  <!-- Toastr -->
  <!-- <script type="text/javascript">
  //   toastr.options.timeOut = 3000;
  //   toastr.options.positionClass = 'toast-bottom-right';
  //   toastr.options.closeButton = true;
  // </script>-->

  </body>
</html>
