.row-gap-top-20{
	margin-top:20px;
}
.row-gap-top-40{
  margin-top: 40px;
}
.row-gap-20{
  margin-bottom: 20px;
}
.row-gap-40{
  margin-bottom: 40px;
}
.row-gap-top-20{
  margin-top: 10px;
}
.row-gap-70{
  margin-bottom: 70px;
}
.row-gap-top-0{
	margin-top: 0px !important;
}
.navbar{
	margin-bottom: 0px !important;
}
.pull-left{
	float:left;
}
.pull-right{
	float: right;
}
.margin-left-5{
  margin-left: 5px;
}
.margim-left-10{
  margin-left: 10px;
}
.margin-right-5{
  margin-right: 5px;
}
.margim-right-10{
  margin-right: 10px;
}
.margin-top-5{
  margin-top: 5px;
}
.margin-top-10{
  margin-top: 10px;
}
.menu-item{
	margin-top:15px;
	margin-right:26px;
}
.break-line{
    -ms-word-break: break-all !important;
    word-break: break-all !important;

 /* Non standard for webkit */
     word-break: break-word !important;

    -webkit-hyphens: auto !important;
       -moz-hyphens: auto !important;
        -ms-hyphens: auto !important;
            hyphens: auto !important;
}

.navbar-default{

  background-color: #373b3d !important;
}
.border-left{
  border-left: gray solid 1px;
}
.border-right {
  border-right: gray solid 1px;
}
.popover-white{
  background: white;
  border-radius: none;
}
.popover-title-white{
  background-color: gray !important;
}

.text-align-left{
  text-align: left !important;
}
.black-text{
  color:black;
}



@media screen and (max-width: 1000px){
  .smallScreenClose{
    display: none;
  }
}






.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: absolute;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}
